BOT_TOKEN=<BOT token from @BotFather>
ADMIN_ID=<Your Telegram user ID>
OPENAI_API_KEY=<Your token for interacting wit OpenAI API>
PORT=9912


# PostgreSQL (Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tododb
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tododb
